/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fafafa;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Шапка сайта */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0;
    position: relative;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.logo {
    width: 150px;
    height: auto;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.main-nav a:hover {
    color: #ff5722;
}

/* Основной контент */
.content h1, .content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 1rem;
}

.project-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Адаптация под мобильные устройства */
@media screen and (max-width: 768px) {
    .main-nav ul {
        flex-direction: column;
        text-align: center;
    }

    .main-nav li {
        margin: 10px 0;
    }

    .logo {
        width: 100px;
    }
}

/* Footer */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    clear: both;
}

.small {
    font-size: 0.8em;
}